.container{
  width: 900px;
  margin: auto;
  display: block;
}

.cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card{
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img{
  width: 100%;
}

.text{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  display: block;
  font-family: cursive;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.footer{
text-align: center;
padding: 60px;
background-color: #2c2b2b;
}

.links p {
  color: beige;
}
